<div id="sidebar-wrapper" [ngClass]="{ 'toggled': toggled }">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a routerLink="/">GRG ALN</a>
    </li>
    <li>
      <a routerLink="/projects" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-code-fork"></i> Projects
      </a>
      <a routerLink="/experience" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="fa fa-briefcase"></i> Experience
      </a>
      <a href="https://github.com/GeorgeA93">
        <i class="fa fa-github"></i> GitHub
      </a>
      <a href="https://uk.linkedin.com/in/george-allen-981a66a5">
        <i class="fa fa-linkedin"></i> LinkedIn
      </a>
      <a href="https://angel.co/george-allen-8">
        <i class="fa fa-angellist"></i> AngelList
      </a>
      <a href="https://www.dropbox.com/s/m3deybs7e9lkzh3/George_Allen_CV.pdf?dl=0">
        <i class="fa fa-envelope"></i> CV
      </a>
    </li>
  </ul>
</div>