.spinner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: #FAFAFA;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}