<div>
  <app-spinner></app-spinner>

  <!--  <md-toolbar color="primary">
    <span>
      <button md-icon-button (click)="appMenu.toggle()" [ngSwitch]="appMenu.opened">
        <md-icon *ngSwitchCase="false" class="icon-20">menu</md-icon>
        <md-icon *ngSwitchCase="true" class="icon-20">close</md-icon>
      </button>
      GRGALN
    </span>
  </md-toolbar>  
  <md-sidenav-layout>
    <md-sidenav #appMenu>
      <md-nav-list>
        <md-list-item routerLink="/" routerLinkActive="active" (click)="appMenu.toggle()"> Home </md-list-item>
        <md-list-item routerLink="projects" routerLinkActive="active" (click)="appMenu.toggle()"> My Projects </md-list-item>
      </md-nav-list>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-layout> -->

  <!-- Routed views go here -->
  <router-outlet></router-outlet>
</div>